/** @format */

body {
  margin: 0;
  background-image: url(./images/background.png);
  background-size: 100% 100%;
}
table {
  text-align: center;
  margin: auto;
  height: 100vh;
}
#logo {
  border: 10px solid #006d77;
  border-radius: 50%;
}
